html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* ===== FIX RECHARTS FOCUS OUTLINE ===== */
.recharts-wrapper:focus,
.recharts-wrapper:focus-visible,
.recharts-surface:focus,
.recharts-surface:focus-visible,
svg:focus,
svg:focus-visible {
  outline: none !important;
}
/* ===== ẨN SCROLLBAR NGOÀI (WINDOW) ===== */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html,
body {
  scrollbar-width: none;
}

